:root {
  --special-blue: hsl(180, 29%, 50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:hsl(180, 52%, 96%);
  font-family: 'Spartan', sans-serif;
}

.bg-special-blue {
  background-color:hsl(180, 29%, 50%);
}

.special-blue {
  color: hsl(180, 29%, 50%);
}

#top-bg {
  background: url('/images/bg-header-desktop.svg');
  min-height:150px;
}

.blue-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 150px;
  background-color:hsl(180, 29%, 50%);
  opacity: 0.9;
}

#main-section {
  background-color:  hsl(180, 52%, 96%);
  height: 100vh;
}

.card {
  position: relative;
  width: 100%;
  border-left: var(--special-blue) 5px solid;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
}

.card-2 {
  position: relative;
  width: 100%;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
}

.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-start {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.item-start img {
  align-self: center;
  width: 6rem;
  height: 6rem;
}

.company {
  font-weight: 700;
  font-size: 15px;
  color:hsl(180, 29%, 50%);
}

.new {
  color: #fff;
  background-color: hsl(180, 29%, 50%);
  font-size: 10px;
  font-weight: 700;
  margin-right: 5px;
}

.featured {
    color: #fff;
    background-color: #333;
    font-size: 10px;
    font-weight: 700;
}

.role {
  font-size: 1.1rem;
  font-weight: 700;
}

.last {
  font-size: 1rem;
  font-weight: lighter;
}

.item-end {
  align-self: center;
  color: var(--special-blue);
  font-weight: 700;
  font-size: 12px;
}

.tech-item {
  background-color:hsl(180, 52%, 96%);
  margin-right: 10px;
  border-radius: 5px;
  padding: 6px;
}

.tech-item:hover {
  opacity: 0.8;
}



@media(max-width: 720px) {
  .card img {
    position: absolute; 
    height: 50px;
    width: 50px;
    top: -20px;
  }

  .card {
    align-items: flex-start;
  }

.card-body {
  display: flex;
  flex-direction: column;
}

.item-start {
  margin-top: 20px;
  align-self: flex-start;
  border-bottom: grey 1px solid;
}

.item-end {
  margin-top: 1.5rem;
}
}